<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="listMap">
                <h1 style="font-size: 4.0em;" align="center">Parceiros</h1>
                <hr>
                <div align="center">
                    <%= link_to image_tag("PCR_Partness.png", alt:"Prefeitura da cidade do recife"), "http://www2.recife.pe.gov.br/"%>
                </div>
            </div>
        </div>    
    </div>
</div>
