<div class="row">
  <div class="col-md-12">
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="assets/recifeHome.jpg" alt="First slide" width= "100%">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="assets/recifeHome.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="assets/recifeHome.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->
    </div>
</div>

<!--
<div class="jumbotron">
  <div class="container" align="center">
      <img alt="mei" src="/assets/mei.jpg" />
      <h1 style="color: #018def">Encontre os MEIs de forma rápida e fácil</h1>
      <p style="color: #018def">Ache os serviços ou produtos que você precisa e que estão sendo oferecidos pelos MEIs na cidade do Recife</p>
      <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form">
            <div class="row" align="center">
              <div class="col-md-12">
              <div class="form-group">
                  < %= form_tag(:action=> "index", :controller=> "home", :method=> "get", id: "search-form") do %>
                    < %= text_field_tag :search, params[:search], placeholder: "Pesquise"%>
                    < %= submit_tag "Pesquise", class: "btn btn-success"%>
                   < % end %>
              </div>
          </div>
            </div>
          </form>
        </div>
      </div>
</div>
-->
<div class="row">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <!-- < % if @meis != nil %> -->
    <% if @meis.present? %>
      <% @meis.each do |mei| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= mei.nome %></h3>
           </div>
           <div class="panel-body">
             <p><strong>Descricao da atividade:</strong></p>
             <%= mei.descricao_atividade %>
            <br>
            <div>
              <br>
            <%= link_to 'Mostrar Mais', mei, class: 'btn btn-sm btn-info' %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
        <div>
          <p> Não encontramos nenhum mei para esta pesquisa... 
        </div>
    <% end %>
  </div>
    
  <div class="col-md-2">
  </div>
</div>
<!--


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <div class="list-group">    
          <ul class="nav nav-sidebar">
            <li><a href="#Electrician" class="list-group-item">Eletricista</a></li>            
            <li><a href="#Joiner" class="list-group-item">Marceneiro</a></li>
            <li><a href="#Mason" class="list-group-item">Pedreiro</a></li>
            <li><a href="#Plumber" class="list-group-item">Encanador</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#Hair" class="list-group-item">Cabelereiro</a></li>
            <li><a href="#Painter" class="list-group-item">Pintor</a></li>
            <li><a href="#Tailor" class="list-group-item">Alfaiate</a></li>
            <li><a href="#Programmer" class="list-group-item">Programador</a></li>
            <li><a href="#Door" class="list-group-item">Porteiro</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#Engineer" class="list-group-item">Engenheiro</a></li>
            <li><a href="#Doctor" class="list-group-item">Médico</a></li>
            <li><a href="#Lawyer" class="list-group-item">Advogado</a></li>
          </ul>
        </div>
        </div>
        </div>
      </div>
      
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-6" align="center">
    <h2>Você já é um MEI ?</h2>
    <p>Bem-vindo ao nosso portal MEI a MEI. Acesse agora mesmo a sua conta! </p>
    <p><a class="btn btn-default" href="#" role="button">Acesse já &raquo;</a></p>
  </div>
  
  <div class="col-md-6" align="center">
    <h2>Ainda não é MEI?</h2>
    <p>Descubra como se tornar um MEI, seus benebícios e como participar do mei a mei.</p>
    <p><a class="btn btn-default" href="#" role="button">Descobrir &raquo;</a></p>
  </div>
</div>