
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#Electrician">Eletricista <span class="sr-only"</span></a></li>            
            <li><a href="#Joiner">Marceneiro</a></li>
            <li><a href="#Mason">Pedreiro</a></li>
            <li><a href="#Plumber">Encanador</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#Hair">Cabelereiro</a></li>
            <li><a href="#Painter">Pintor</a></li>
            <li><a href="#Tailor">Alfaiate</a></li>
            <li><a href="#Programmer">Programador</a></li>
            <li><a href="#Door">Porteiro</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#Engineer">Engenheiro</a></li>
            <li><a href="#Doctor">Médico</a></li>
            <li><a href="#Lawyer">Advogado</a></li>
          </ul>
        </div>
        </div>
      </div>
      
      
        
        
