<div class="container">
<div class="row">
    <div class="col-md-12">
        <div id="listMap">
            <h1 style="font-size: 3.5em; ">Dúvidas??</h1>
            <hr>
            <p>Aqui você encontra a dúvidas mais constantes dos Usuários do mei-a-MEI,com suas respectivas respostas. Caso não encontre a informação</br>
            que desejas, entre em contato com a Sala do Empreendedor.</p>
            </br>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">Quem pode se cadastrar?</h4>
               </div>
               <div class="panel-body">
                 <p>Qualquer empreendedor individual que esteja devidamente formalizado e registrado na Sala do Empreendedor da Prefeitura do Recife.</p>
                </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">Como é feito este cadastro?</h4>
               </div>
               <div class="panel-body">
                 <p>O Empreendedor deverá procurar a Sala do Empreendedor da Prefeitura do Recife, localizado no andar térreo da mesma, que funciona de</br>
            segunda à sexta, das 08:00 às 17:00.</p>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">Quem pode utilizar o site mei-a-MEI para localizar os Meis?</h4>
               </div>
               <div class="panel-body">
                 <p>Qualquer usuário que deseja ter produto ou serviço de um empreendedor individual da Cidade do Recife.</p>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">Como acessar o mei-a-MEI?</h4>
               </div>
               <div class="panel-body">
                 <p>o mei-a-MEI pode ser acessado através do endereço eletrônico www.meiamei.com.br</p>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">Como buscar um MEI pelo site?</h4>
               </div>
               <div class="panel-body">
                 <p>acessando o site www.meiamei.com.br,na página inicial, há uma ferramenta para localizador do empreendedor individual, ao qual pode</br>
            ser acessada, aplicando os seguintes filtros:</p>
                <p><strong>Todas as categorias</strong> - <i>Mostrará todos os meis cadastrados na Sala do empreendedor, somente ciclando no botão pesquisar.</i></p>
                <p><strong>Por Serviço</strong> - <i>o site irá mostrar, todos os meis que prestam serviços.</i></p>
                <p><strong>Por Comércio</strong> - <i>o site irá mostrar, todos os meis que vendem produtos.</i></p>
                <p>Todas as atividades: o site listará, todas atividades segundo a área de atuação.</p>
              </div>
            </div>
            </br>
            <p><i>(*): O site possui ainda um formulário de comentários e avaliações, no qual, você usuário, poderá dar sua opinião e avaliar
            o produto ou serviço oferecido pelo MEI.</i></p>
        </div>
    </div>    
</div>
</div>

