<div class="container">
<div class="row">
    <div class="col-md-12">
        <div id="listMap">
            <h1 style="font-size: 4.0em;">Mapa do site</h1>
            <hr>
            <ul>
                <li ><a href="../home">Página inicial</a></li>
                <li ><a href="../QuemSomosNos">Quem somos nós</a></li>
                <li ><a href="../meis">Sobre os MEIs do recife</a></li>
                <li ><a href="../Ranking">Ranking dos serviços</a></li>
                <li ><a href="../FaleConosco">Fale conosco</a></li>
                <li ><a href="../duvidas">Dúvidas??</a></li>
                <li ><a href="../Parceiros">Parceiros</a></li>
            </ul>
        </div>
    </div>    
</div>
</div>