<div class="container">
<div class="row">
    <div class="col-md-12">
        <div id="listMap">
            <h1 style="font-size: 4.0em;">Mapa do site</h1>
            <hr>
            <ul>
                <li ><a href="../home">Página inicial</a></li>
                <li ><a href="../who_are_we/waw">Quem somos nós</a></li>
                <li ><a href="../meis">Sobre os MEIs do recife</a></li>
                <li ><a href="../meis">Ranking dos serviços</a></li>
                <li ><a href="../contact_us/contacts">Fale conosco</a></li>
                <li ><a href="../doubt/doubts">Dúvidas??</a></li>
                <li ><a href="../partner/partnes">Parceiros</a></li>
            </ul>
        </div>
    </div>    
</div>
</div>