<div class="container">
<div class="row">
    <div class="col-md-12">
        <div id="listMap">
            <h1 style="font-size: 3.5em; ">Quem somos nós</h1>
            <hr>
            <h4>Cenário</h4>
            <p>Diante da atual conjuntura ao qual estamos enfrentando,muitos microempreendedores individuais da cidade do Recife vem a possibilidade de</br> 
            gerar lucro e renda para sua cidade.Porém,este MEI necessita que seu produto ou serviço seja localizado e divulgado. Por isso foi criado</br>
            o mei-a-MEI,um sistema WEB em  parceira com a Sala do Empreendedor da Prefeitura do Recife.</p>
            </br>
            <h4>Meio de atuação</h4>
            <p>Acessando o site www.meiamei.com.br, o empreendedor individual pode ter o seu produto ou serviço divulgado e com localização geográfica</br>
            disponivel para o  usuário, ou seja, o Mei cada vez mais perto do cliente.</p>
            </br>
            <p>Venha ser um de nós! Seja um mei-a-MEI você também!</p>
            <p><a class="btn btn-primary" href="#" role="button">EU QUERO SER UM MEI-A-MEI <i class="fa fa-arrow-right"></i></a></p>
        </div>
    </div>    
</div>
</div>
