<!DOCTYPE html>
<html>
  
<head>
  
  <title>mei-a-MEI</title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/home/ubuntu/workspace/qualitysoft/projeto-01/app/assets/stylesheet/custom.css.scss">
  
  <link rel="shortcut icon" href="http://globocom.github.io/bootstrap/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
    <navbar>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </navbar>
  <!-- NAVBAR
  ================================================== -->
  <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
  <%= yield %>
  <footer>
    <div class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2012 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
  </footer>
    


  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
    <script src="http://globocom.github.io/bootstrap/assets/js/jquery.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>
  <!--<script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/jquery.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-transition.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-alert.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-modal.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-dropdown.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-scrollspy.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-tab.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-tooltip.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-popover.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-button.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-collapse.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-carousel.js"></script>
  <script src="/home/ubuntu/workspace/qualitysoft/projeto-01/node_modules/bootstrap/dist/js/bootstrap-typeahead.js"></script>-->
  <script>
    
!function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
      
      
  </script>
</body>

</html>