<!DOCTYPE html>
<html>
  
<head>
  
  <title>mei-a-MEI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link href="http://globocom.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  <link href="http://globocom.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="http://globocom.github.io/bootstrap/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
  
</head>

<body>
  <header>
  <navbar>
    <div class="container">
      <div class="container navbar-wrapper">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="brand" href="#">Project name</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Sobre o mei-a-mei</a></li>
                <li><a href="#contact">Sala do Empreendedor</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ranking dos Serviços <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">MEI</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Os mais vistos</li>
                    <li><a href="#">Negócio</a></li>
                    <li><a href="#">MEI</a></li>
                  </ul>
                </li>
                <li><a href="#contact">Fale conosco</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div><!-- /.container -->  
    </div>
  </navbar>
  </header>
  <!-- NAVBAR
  ================================================== -->
  <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
  <select><%= yield %></select>
  <article></article>
  

  <footer>
    <div class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2012 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
  </footer>

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://globocom.github.io/bootstrap/assets/js/jquery.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-alert.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-button.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>
  <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>

</body>

</html>
