<link href="style.css" rel="stylesheet">
<hr>
<footer>
  <div align="center">
    <p>&middot; <a href="../home">Home</a> &middot; <a href="../who_are_we/waw">Quem somos nós</a> &middot; <a href="#">Sobre os Meis</a> &middot; <a href="#">Ranking dos serviços</a> &middot; <a href="#">Sala do empreendedor</a> &middot; <a href="../site_map/map">Mapa do site</a> &middot; <a href="#">Fale conosco</a> &middot; <a href="../partner/partnes">Parceiros</a>&middot; <a href="../doubt/doubts">Dúvidas</a> &middot;</p>
  </div>
</footer>