<link href="style.css" rel="stylesheet">
<hr>
<footer>
  <div align="center">
    <p>&middot; <a href="../home">Home</a> &middot; <a href="../QuemSomosNos">Quem somos nós</a> &middot; <a href="#">Sobre os Meis</a> &middot; <a href="../Ranking">Ranking dos serviços</a> &middot; <a href="#">Sala do empreendedor</a> &middot; <a href="../MapaDoSite">Mapa do site</a> &middot; <a href="../FaleConosco">Fale conosco</a> &middot; <a href="../Parceiros">Parceiros</a>&middot; <a href="../duvidas">Dúvidas</a> &middot;</p>
  </div>
</footer>