<link href="style.css" rel="stylesheet">
<hr>
<footer>
  <div align="center">
    <p>&middot; <a href="#">Home</a> &middot; <a href="#">Quem somos nós</a> &middot; <a href="#">Sobre os Meis</a> &middot; <a href="#">Ranking dos serviços</a> &middot; <a href="#">Localização dos Meis</a> &middot; <a href="#">Sala do empreendedor</a> &middot; <a href="../site_map/map">Mapa do site</a> &middot; <a href="#">Fale conosco</a> &middot; <a href="#">Parceiros</a></p>
  </div>
</footer>